*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(28, 28, 28);
}
.search{
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
}
.App-name{
  color: white;
  padding: 1rem;
}
.search input,.search input:focus{
  border: none;
  padding: 1rem 1.4rem;
  border-radius: 0.5rem 0rem 0rem 0.5rem ;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 40%;
  outline: none;
  box-shadow: 0px 0px 4px 2px rgb(75, 75, 75);
  font-size: 20px;
}
.search button{
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem ;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 4px 2px rgb(75, 75, 75);
  font-size: 20px;

}

.hero{
  background-color: white;
  height: 70vh;
  width: 100%;
  background: url('./components/asset/moviewall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  margin: 0.5rem 1rem;
  /* background-color: green; */
  height: 300px;
  width: 13rem;
  border-radius: 1rem;
  color: white;
}
.card-img img{
  width: 100%;
  border-radius: 1rem;
  height: 100%;
}
.genre{
  color: white;
  margin-left: 1rem;
}

.main-card{
  width: 100%;
  justify-content: center;
  margin: 0rem auto 3rem auto;
  flex-wrap: wrap;
}


.prevCont{
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
}

.prevCont .view{
  /* background-color: yellow; */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  
}
.view .prevImg,.prevBody{
  margin: 0.5rem;
}
.prevBody .heading{
  color:  rgb(233, 241, 142);
  margin-bottom: 4rem;
  font-size: 4em;
}
.prevBody h3{
  color: white;
  font-size: 1.3em;
  margin: 0.6rem 0rem;

}
.prevBody hr{
  width: 70%;
  color: rgb(55, 55, 55);
}

.Dbtn{
  border: none;
  padding: 0.8rem;
  margin: 0.2rem;
  border-radius: 5px;
}
.Dbtn a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.Dbtn:hover{
  background-color: lightblue;
}
.synopsis{
  margin: 0.5rem;
  color: rgb(132, 132, 132);
  font-size: 19px;
}