*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(19, 17, 17);
  color: white;
}
.head{
  text-align: center;
  font-size: 50px;
  color: burlywood
}
.search{
  text-align: center;
  padding: 4px;
}
.search input{
  max-width: 70%;
  padding: 0.5rem;
  font-size: 20px;
  border-style: none;
  box-shadow: 0px 0px 5px gray;
  border-radius: 20px 0px 0px 20px;
  border: none;
}
.search button{
  padding: 0.5rem;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
  border-style: none;
  background-color: rgb(30, 30, 31);
  color: white;
  cursor: pointer;
}


/* End of search aspect */

.card-cont{
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 80%;

}
.card{
  width: 200px;
  margin: 0.5rem;

 

}
.bottom{
  height: fit-content;

}

.bottom p{


}

.card-img{

}
.card-img img{
  /* display: none; */
  width: 200px;
  height: 400px;
  border-radius: 10px 10px 0px 0px;

}
.pBtn{
  /* margin-top: 10px; */
  padding: 10px;
  width: 100%;
  background-color: white;
  border: none;;
  border-radius: 5px;

}





/* previewPage Next Page*/

.prevCont{
  /* background-color: lightgray; */
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  color: white;
}
.prevCont div h1{
  font-weight: bolder;
  margin-bottom: 4rem;
  color: antiquewhite;
}
.view{
  display: flex;
  margin-bottom: 4rem;
  /* flex-wrap: wrap; */
}

.prevImg{
  width: 400px;
  height: 400px;
  margin-right: 10px;
}
a{
  text-decoration: none;
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.pBtn{
  /* width: 100%; */
  margin-top: 15px;
  padding: 10px;
  columns: white;
}

.heading{
  font-weight: 1rem;
  color: darkgrey;
}
.cast{
  display: flex;
  color: black;
  justify-content: space-around;
  margin: 5px;
}
.span{
  background-color: white;
  padding: 10px;
  border-radius: 100%;
}
.synopsis{
  margin-top: 20px;
}
.Dbtn{
  padding: 5px;
  border-style: none;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px 5px 0px 0px;

}
.prevBody{
  line-height: 2rem;
}





/* media Queries */

@media only screen and (max-width: 800px) {

  .card-cont{
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    width: 90%;
  }
  .prevCont{
    /* background-color: lightgray; */
    padding: 1rem;
    width: 100%;
    color: white;
  }

  .prevCont div h1{
    font-weight: bolder;
    margin-bottom:5px;
    color: antiquewhite;
  }

  .view{
    display:block;
    margin-bottom: 0.2rem;
    width: 100%;
  }

  .prevImg{
    width: 0%;
    height: 450px;
    margin-right: 0px;
    background-color: red;
    
  }

  .prevBody{
    line-height: 2rem;
  }
  .prevBody h3::after{
    
  }

  .Dbtn{
    padding: 5px;
    border-style: none;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px 0px 0px;
  
  }
  

  
  
}





